hypersynergism.js linguist-generated -diff
build/** linguist-generated -diff
release/** linguist-generated -diff
other_scripts/** linguist-generated
save_utils/** linguist-generated
snippets/** linguist-generated
* text=auto
* text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
