 #hs-ambrosia-quick-loadout-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    width: auto;
    gap: 4px;
    flex-direction: row;
    align-self: flex-end;
    margin: 0px 59px 0px 4%;
    border: 0px solid #4f86f7;
 }

 #hs-ambrosia-extra-btn {
    border: 2px solid orange;
 }

 #hs-add-10-btn {
    border: 2px solid green;
    border-right: none;
 }